<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<title>ChatExercise</title>
</head>
<body>
	<form class="form-horizontal" th:action="@{/sign_up}" th:object="${userForm}" id="new_user" action="/sign_up" accept-charset="UTF-8" method="post">
 		<div th:if="${#fields.hasAnyErrors()}" id="error_explanation">
 		<h2 th:inline="text">[[${#fields.allErrors().size()}]] errors prohibited this user from being saved:</h2>
			<ul>
	    		<li th:each="error : ${#fields.detailedErrors()}">
	      			<span th:text="${error.isGlobal()}? ${error.message} : |${error.fieldName} ${error.message}|">Error message</span>
				</li>
			</ul>
		</div>
	<fieldset>
	<!-- Form Name -->
	<legend>Create User</legend>
	<!-- Text input-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="textinput">User Name</label>  
	  <div class="col-md-4">
	  <input th:field="*{name}"  id="textinput" name="textinput" type="text" placeholder="ユーザー名を入力" class="form-control input-md">  
	  </div>
	</div>
	<!-- Password input-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="passwordinput">Password</label>
	  <div class="col-md-4">
	    <input th:field="*{password}"  id="passwordinput" name="passwordinput" type="password" placeholder="パスワードを入力" class="form-control input-md">
	  </div>
	</div>
	<!-- Password input-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="passwordinput">Passwordの確認</label>
	  <div class="col-md-4">
	    <input th:field="*{confirmPassword}"   id="password" name="confirmPassword" type="password" placeholder="パスワードを入力（確認）" class="form-control input-md">
	  </div>
	</div>
	<!-- Button -->
	<div class="form-group">
	  <div class="col-md-4">
	    <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">ユーザー作成</button>
	  </div>
	</div>
	</fieldset>
	</form>
	<a th:href="@{/login}">ログイン</a>
</body>
</html>